{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Giỏ hàng</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="OneTech shop project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap4/bootstrap.min.css' %}">
<link href="{% static 'plugins/fontawesome-free-5.0.1/css/fontawesome-all.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{% static 'styles/cart_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/cart_responsive.css' %}">

</head>

<body>

<div class="super_container">
	
	<!-- Header -->
	
	<header class="header">

		<!-- Top Bar -->

		<div class="top_bar">
			<div class="container">
				<div class="row">
					<div class="col d-flex flex-row">
						<div class="top_bar_contact_item"><div class="top_bar_icon"><img src="{% static 'images/phone.png' %}" alt=""></div>+84 91 3344 722</div>
						<div class="top_bar_contact_item"><div class="top_bar_icon"><img src="{% static 'images/mail.png' %}" alt=""></div><a href="mailto:fbworld.giang@gmail.com">fbworld.giang@gmail.com</a></div>
						<div class="top_bar_content ml-auto">
							
							<div class="top_bar_user">
							{% if user.id is not None %}
								<div>
									<ul class="standard_dropdown main_nav_dropdown">
										<li class="hassubs">
											<a href="{% url 'user' %}">Hồ sơ<i class="fas fa-chevron-down"></i></a>
											<ul>
												<li><a href="{% url 'user' %}">Thông tin tài khoản<i class="fas fa-chevron-down"></i></a></li>
												<li><a href="{% url 'user_update' %}">Chỉnh sửa thông tin<i class="fas fa-chevron-down"></i></a></li>
												<li><a href="{% url 'orders' %}">Đơn hàng của tôi<i class="fas fa-chevron-down"></i></a></li>																			
												<li><a href="{% url 'change-password' %}">Đổi mật khẩu<i class="fas fa-chevron-down"></i></a></li>
												<li><a href="/logout">Đăng xuất<i class="fas fa-chevron-down"></i></a></li>
											</ul>
										</li>				
									</ul>
								</div>
								<div class="user_icon"><a href="{% url 'user' %}"><img src="{{request.session.userimage}}" alt=""></a></div>
							{% else %}							
								<div><a href="/login">Đăng nhập</a></div>
								<div><a href="/signup">// Đăng ký</a></div>
							{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>		
		</div>

		<!-- Header Main -->

		<div class="header_main">
			<div class="container">
				<div class="row">

					<!-- Logo -->
					<div class="col-lg-2 col-sm-3 col-3 order-1">
						<div class="logo_container">
							<div class="logo"><a href="{% url 'base' %}">HG Shop</a></div>
						</div>
					</div>

					<!-- Search -->
					<div class="col-lg-6 col-12 order-lg-2 order-3 text-lg-left text-right">
						<div class="header_search">
							<div class="header_search_content">
								<div class="header_search_form_container">
									<form action="/search/" class="header_search_form clearfix">
										<input id="query" name="query" type="search" required="required" class="header_search_input" placeholder="Nhập tên sản phẩm...">
										{% comment %} <select name="catid" class="custom_dropdown_placeholder clc">	 {% endcomment %}
											<div class="custom_dropdown">
												<div class="custom_dropdown_list">												
													<span class="custom_dropdown_placeholder clc" >Tất cả</span>
													<i class="fas fa-chevron-down"></i>												
													<ul class="custom_list clc">														
														<li><a name="nam"class="clc" href="#"><option value="1">Nam </option></a></li>
														<li><a name="nu"class="clc" href="#"><option value="1">Nữ</option></a></li>
														<li><a name="betrai"class="clc" href="#"><option value="2">Bé trai</option></a></li>
														<li><a name="begai"class="clc" href="#"><option value="3">Bé gái</option></a></li>
													</ul>												
												</div>
											</div>
										{% comment %} </select> {% endcomment %}
										<button type="submit" class="header_search_button trans_300" value="Submit"><img src="{% static 'images/search.png' %}" alt=""></button>									</form>
								</div>
							</div>
						</div>
					</div>

					<!-- Wishlist -->
					<div class="col-lg-4 col-9 order-lg-3 order-2 text-lg-left text-right">
						<div class="wishlist_cart d-flex flex-row align-items-center justify-content-end">
							

							<!-- Cart -->
							<div class="cart">
								<div class="cart_container d-flex flex-row align-items-center justify-content-end">
									<div class="cart_icon">
										<img src="{% static 'images/cart.png' %}" alt="">
										<div class="cart_count">
										{% load myapptags %}
										{% shopcartcount user.id as count %}
											<span>{{count}}</span>
										</div>
									</div>
									<div class="cart_content">
										<div class="cart_text"><a href="#">Giỏ hàng</a></div>
										<div class="cart_price">{{total}}đ</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Main Navigation -->

		<nav class="main_nav">
			<div class="container">
				<div class="row">
					<div class="col">
						
						<div class="main_nav_content d-flex flex-row">

							<!-- Categories Menu -->

							<div class="cat_menu_container">
								<div class="cat_menu_title d-flex flex-row align-items-center justify-content-start">
									<div class="cat_burger"><span></span><span></span><span></span></div>
									<div class="cat_menu_text">danh mục</div>
								</div>

								{% load mptt_tags %}
								<ul class="cat_menu">

									{% recursetree category %}

									<li class="hassubs">
										<a href="/category/{{ node.id }}/{{ node.slug }}">{{ node.title }}<i class="fas fa-chevron-right"></i></a>
										{% if not node.is_leaf_node %}

										<ul>
											<li> <a href="/category/{{ children.id }}/{{ children.slug }}">{{ children }}</a>											
											</li>
										</ul>
										{% endif %}
									</li>

									{% endrecursetree %}
								</ul>
							</div>

							<!-- Main Nav Menu -->

							<div class="main_nav_menu ml-auto">
								<ul class="standard_dropdown main_nav_dropdown">
									<li><a href="{% url 'base' %}">Trang chủ<i class="fas fa-chevron-down"></i></a></li>
									<li class="hassubs">
										<a href="#">Thương hiệu<i class="fas fa-chevron-down"></i></a>
																													
										<ul>
										{% load myapptags %}
										{% trademarktag self as tdt %}
										{% for rs in tdt %}											
											<li><a href="/trademark/{{rs.id}}">{{rs}}<i class="fas fa-chevron-down"></i></a></li>
										{% endfor %}
										</ul>
										
									</li>					
									<li><a href="{% url 'shop' %}">Danh sách sản phẩm<i class="fas fa-chevron-down"></i></a></li>
									<li><a href="{% url 'cart' %}">Giỏ hàng<i class="fas fa-chevron-down"></i></a></li>
									{% comment %} <li><a href="blog_single.html">Bài viết<i class="fas fa-chevron-down"></i></a></li> {% endcomment %}
									<li><a href="{% url 'contact' %}">Liên hệ<i class="fas fa-chevron-down"></i></a></li>
								</ul>
							</div>

							<!-- Menu Trigger -->

							<div class="menu_trigger_container ml-auto">
								<div class="menu_trigger d-flex flex-row align-items-center justify-content-end">
									<div class="menu_burger">
										<div class="menu_trigger_text">menu</div>
										<div class="cat_burger menu_burger_inner"><span></span><span></span><span></span></div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</nav>
		
		<!-- Menu -->

		<div class="page_menu">
			<div class="container">
				<div class="row">
					<div class="col">
						
						<div class="page_menu_content">
							
							<div class="page_menu_search">
								<form action="#">
									<input type="search" required="required" class="page_menu_search_input" placeholder="Search for products...">
								</form>
							</div>
							<ul class="page_menu_nav">
								<li class="page_menu_item has-children">
									<a href="#">Language<i class="fa fa-angle-down"></i></a>
									<ul class="page_menu_selection">
										<li><a href="#">English<i class="fa fa-angle-down"></i></a></li>
										<li><a href="#">Italian<i class="fa fa-angle-down"></i></a></li>
										<li><a href="#">Spanish<i class="fa fa-angle-down"></i></a></li>
										<li><a href="#">Japanese<i class="fa fa-angle-down"></i></a></li>
									</ul>
								</li>
								<li class="page_menu_item has-children">
									<a href="#">Currency<i class="fa fa-angle-down"></i></a>
									<ul class="page_menu_selection">
										<li><a href="#">US Dollar<i class="fa fa-angle-down"></i></a></li>
										<li><a href="#">EUR Euro<i class="fa fa-angle-down"></i></a></li>
										<li><a href="#">GBP British Pound<i class="fa fa-angle-down"></i></a></li>
										<li><a href="#">JPY Japanese Yen<i class="fa fa-angle-down"></i></a></li>
									</ul>
								</li>
								<li class="page_menu_item">
									<a href="index.html">Home<i class="fa fa-angle-down"></i></a>
								</li>
								<li class="page_menu_item has-children">
									<a href="#">Super Deals<i class="fa fa-angle-down"></i></a>
									<ul class="page_menu_selection">
										<li><a href="#">Super Deals<i class="fa fa-angle-down"></i></a></li>
										<li class="page_menu_item has-children">
											<a href="#">Menu Item<i class="fa fa-angle-down"></i></a>
											<ul class="page_menu_selection">
												<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
												<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
												<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
												<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
											</ul>
										</li>
										<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
										<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
										<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
									</ul>
								</li>
								<li class="page_menu_item has-children">
									<a href="#">Featured Brands<i class="fa fa-angle-down"></i></a>
									<ul class="page_menu_selection">
										<li><a href="#">Featured Brands<i class="fa fa-angle-down"></i></a></li>
										<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
										<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
										<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
									</ul>
								</li>
								<li class="page_menu_item has-children">
									<a href="#">Trending Styles<i class="fa fa-angle-down"></i></a>
									<ul class="page_menu_selection">
										<li><a href="#">Trending Styles<i class="fa fa-angle-down"></i></a></li>
										<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
										<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
										<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
									</ul>
								</li>
								<li class="page_menu_item"><a href="blog.html">blog<i class="fa fa-angle-down"></i></a></li>
								<li class="page_menu_item"><a href="contact.html">contact<i class="fa fa-angle-down"></i></a></li>
							</ul>
							
							<div class="menu_contact">
								<div class="menu_contact_item"><div class="menu_contact_icon"><img src="{% static 'images/phone_white.png' %}" alt=""></div>+38 068 005 3570</div>
								<div class="menu_contact_item"><div class="menu_contact_icon"><img src="{% static 'images/mail_white.png' %}" alt=""></div><a href="mailto:fastsales@gmail.com">fastsales@gmail.com</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</header>

	<!-- Cart -->

	<div class="cart_section">
		<div class="container">
			<div class="row">
				
						
						
			<div class ="table-responsive text-nowrap">
			{% if messages %}
				{% for message in messages %}
				<div class = "alert alert-{{message.tags}}" role = "alert">
					{{message}}
				</div>
				{% endfor %}
			{% endif %}
			{% if shopcart %}							
				<h2>Giỏ hàng của bạn</h2>
				<table class="table">
					<thead>
						<tr>
							<th scope="col">STT</th> 
							<th scope="col">Ảnh</th>
							<th scope="col">Tên sản phẩm</th>
							<th scope="col">Size</th>
							<th scope="col">Màu</th>
							<th scope="col">Giá</th>
							<th scope="col">Số lượng</th>
							<th scope="col">Tổng tiền</th>
							<th scope="col">Thay đổi</th>
						</tr>
					</thead>
					<tbody>
					{% for rs in shopcart %}
						<tr>
							<th scope="row">{{ forloop.counter}}</th> 

							<td class="thumb">
								{% if rs.variant.image_id  > 0 %}
									<img width="100" height="100" src="{{rs.variant.image }}" alt="">
								{% else %}
									<img width="100" height="100" src="{{rs.product.image.url}}" alt="">
								{% endif %}

							</td>

							<td class="details">
                                <a href="/product/{{ rs.product.id }}/{{ rs.product.slug }}">
								{% if rs.product.variant == 'None' %}
									{{ rs.product}}
								{% else %}
									{{ rs.variant.title}}
								{% endif %}</a> 
							</td>

							<td>{{rs.variant.size}}</td>

							<td><a style="background-color:{{ rs.variant.color.code }}; color: #D9D9D9; text-shadow: 1px 1px #000000">{{rs.variant.color}}</a></td>

							<td class="price text-center"><strong>
								{% if rs.product.variant == 'None' %}
									{{ rs.product.price}}đ
								{% else %}
									{{ rs.variant.price}}đ
								{% endif %}
							</strong></td>

							<td class="text-center"><strong>
                                
									
									{% if rs.quantity > 1 %}
										<a href="{% url 'delete_single_item_from_cart' rs.variant.id %}">		
										<i class="fas fa-minus mr-2"></i></a>
									{% else %}
										<a><i class="fas fa-minus mr-2"></i></a>
									{% endif %}			
										{{rs.quantity}}
									{% if rs.quantity < rs.product.amount %}
										<a href="{% url 'add_single_item_from_cart' rs.variant.id %}">
										<i class="fas fa-plus ml-2"></i></a>
									{% else %}
										<a ><i class="fas fa-plus ml-2"></i></a>
									{% endif %}
									</strong></td>
							
							<td class="text-center"><strong class="primary-color">
								{% if rs.product.variant == 'None' %}
									{{ rs.amount}}đ
								{% else %}
									{{ rs.varamount}}đ
								{% endif %}
							</strong></td>

							<td>
								<a  style = 'color:red' href="/order/deletefromcart/{{ rs.id}}" onclick="return confirm('Xác nhận xóa sản phẩm?')" class="trends_mark trends_new"><i class="fas fa-trash "></i></a>
							</td>							
						</tr>
					{% endfor %}
					</tbody>
				</table>
				<div class="order_total">
					<div class="order_total_content text-md-right">
						<div class="order_total_title">Tổng:</div>
						<div class="order_total_amount">{{total}}đ</div>
					</div>
				</div>

				<div class="cart_buttons">
					<a href="/shop"><button type="button" class="button cart_button_clear">Tiếp tục</button></a>
					{% if total > 0 %}
						<a href="/order/orderproduct"><button type="button" class="button cart_button_checkout">Thanh Toán</button></a>
					{% else %}
						<a onclick="return confirm('Giỏ hàng trống!')" class="trends_mark trends_new"><button type="button" class="button cart_button_checkout">Thanh Toán</button></a></a>
					{% endif %}
					
				</div>
			{% else %}
				<h2 style="text-align:center;">Giỏ hàng trống</h2>
			{% endif %}
			</div>
		</div>
	</div>

	<br><br><br>
	
	<!-- Newsletter -->
	<div class="newsletter">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="newsletter_container d-flex flex-lg-row flex-column align-items-lg-center align-items-center justify-content-lg-start justify-content-center">
						<div class="newsletter_title_container">
							<div class="newsletter_icon"><img src="{% static 'images/send.png' %}" alt=""></div>
							<div class="newsletter_title">Đăng ký nhận tin mới</div>
							<div class="newsletter_text"><p>với hàng loạt ưu đãi và khuyến mãi hấp dẫn.</p></div>
						</div>
						<div class="newsletter_content clearfix">
							{% if messages %}
								{% for message in messages %}
									<div class = "alert alert-{{message.tags}}" role = "alert">
										{{message}}
									</div>
								{% endfor %}
							{% endif %}
							<form action="{% url 'sub' %}" id="." class="newsletter_form" method="POST">
							{% csrf_token %}
								{{form}}
								<button class="newsletter_button">Đăng ký</button>
								
							</form>
							
							
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer -->

	<footer class="footer">
		<div class="container">
			<div class="row">

				<div class="col-lg-3 footer_col">
					<div class="footer_column footer_contact">
						<div class="logo_container">
							<div class="logo"><a href="{% url 'base' %}">HG Shop</a></div>
						</div>
						<div class="footer_title">Có câu hỏi? liên lạc ngay 24/7</div>
						<div class="footer_phone">+84 91 3344 722</div>
						<div class="footer_contact_text">
							<p>18 Đường số 1, Hiệp Bình Phước</p>
							<p>Thủ Đức, Tp. HCM</p>
						</div>
						<div class="footer_social">
							<ul>
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-youtube"></i></a></li>
								<li><a href="#"><i class="fab fa-google"></i></a></li>
								<li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-lg-2 offset-lg-2">
					<div class="footer_column">
						<div class="footer_title">THÔNG TIN</div>
						<ul class="footer_list">
							<li><a href="#">18 Đường số 1, Hiệp Bình Phước, Thủ Đức, Tp. HCM</a></li>
							<li><a href="#">Điện thoại: +8491 3344 722</a></li>
							<li><a href="#">Fax: +8424 - 6277.6419</a></li>
							<li><a href="#">Email: fbworld.giang@gmail.com</a></li>
						</ul>

					</div>
				</div>

				<div class="col-lg-2">
					<div class="footer_column">
						<div class="footer_title"><strong>THƯƠNG HIỆU</strong></div>
						<ul class="footer_list footer_list_2">
							<li><a href="#">Giới thiệu</a></li>
							<li><a href="#">Blog</a></li>
							<li><a href="#">Tuyển dụng</a></li>
							<li><a href="#">Với cộng đồng</a></li>
							<li><a href="#">Hệ thống cửa hàng</a></li>
							<li><a href="#">Liên hệ</a></li>
						</ul>
					</div>
				</div>

				<div class="col-lg-2">
					<div class="footer_column">
						<div class="footer_title"><strong>HỖ TRỢ</strong></div>
						<ul class="footer_list">
							<li><a href="#">FAQs - Hỏi đáp</a></li>
							<li><a href="#">Chính sách vận chuyển</a></li>
							<li><a href="#">Hướng dẫn chọn kích cỡ</a></li>
							<li><a href="#">Kiểm tra đơn hàng</a></li>
							<li><a href="#">Quy định đổi hàng</a></li>
							<li><a href="#">Tra cứu điểm thẻ</a></li>
							<li><a href="#">Chính sách KH thân thiết</a></li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</footer>

	<!-- Copyright -->

	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col">
					
					<div class="copyright_container d-flex flex-sm-row flex-column align-items-center justify-content-start">
						<div class="copyright_content"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</div>
						<div class="logos ml-sm-auto">
							<ul class="logos_list">
								<li><a href="#"><img src="{% static 'images/logos_1.png' %}" alt=""></a></li>
								<li><a href="#"><img src="{% static 'images/logos_2.png' %}" alt=""></a></li>
								<li><a href="#"><img src="{% static 'images/logos_3.png' %}" alt=""></a></li>
								<li><a href="#"><img src="{% static 'images/logos_4.png' %}" alt=""></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'styles/bootstrap4/popper.js' %}"></script>
<script src="{% static 'styles/bootstrap4/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/greensock/TweenMax.min.js' %}"></script>
<script src="{% static 'plugins/greensock/TimelineMax.min.js' %}"></script>
<script src="{% static 'plugins/scrollmagic/ScrollMagic.min.js' %}"></script>
<script src="{% static 'plugins/greensock/animation.gsap.min.js' %}"></script>
<script src="{% static 'plugins/greensock/ScrollToPlugin.min.js' %}"></script>
<script src="{% static 'plugins/easing/easing.js' %}"></script>
<script src="{% static 'js/cart_custom.js' %}"></script>
</body>

</html>